html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    -webkit-background: radial-gradient(circle, #fff, #ccc);
    -moz-background: radial-gradient(circle, #fff, #ccc);
    -o-background: radial-gradient(circle, #fff, #ccc);
    -ms-background: radial-gradient(circle, #fff, #ccc);
}

#container {
    height: 600px;
    width: 750px;
    background-color: lightblue;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
    position: relative;
}

#score {
    background-color: lightgoldenrodyellow;
    color: #88835f;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px #9da853;
    -webkit-box-shadow: 0px 4px #9da853;
    -moz-box-shadow: 0px 4px #9da853;
}

#highscore {
    background-color: lightgoldenrodyellow;
    color: #88835f;
    padding: 11px;
    position: absolute;
    left: 580px;
    box-shadow: 0px 4px #9da853;
    -webkit-box-shadow: 0px 4px #9da853;
    -moz-box-shadow: 0px 4px #9da853;
}

#correct {
    position: absolute;
    left: 260px;
    background-color: green;
    color: white;
    padding: 11px;
    display: none;
}

#wrong {
    position: absolute;
    left: 250px;
    background-color: red;
    color: white;
    padding: 11px;
    display: none;
}

#fruitscontainer {
    width: 650px;
    height: 400px;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px #535aa8;
    -webkit-box-shadow: 0px 4px #535aa8;
    -moz-box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    position: relative;
    overflow: hidden;
}

#instruction {
    width: 450px;
    height: 50px;
    background-color: #b481d9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;
    -webkit-box-shadow: 0px 4px #8153a8;
    -moz-box-shadow: 0px 4px #8153a8;
}

.knife_cursor {
    cursor: url('images/knife.png') 0 0, pointer; /* 4 and 12 are optional x and y coordinates for the click hotspot */
}

#choices {
    height: 100px;
    width: 450px;
    margin: 5px auto;
}

.box {
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover,
#startreset:hover,
#pausebtn:hover {
    background-color: #9c89f6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
}

.box:active,
#startreset:active,
#pausebtn:active {
    /* background-color: #9c89f6;
    color: white;  ipad version remove hover code and activate this code here.*/
    box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#box4 {
    margin-right: 0px;
}

#startreset {
    width: 78px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#pausebtn {
    width: 78px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#trialsleft {
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    /* visibility: hidden; */
    display: none;
}

#gameover {
    height: 200px;
    width: 500px;
    background: linear-gradient(#f3ca6b, #f3706c);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 150px;
    z-index: 2;
    display: none;
}

.life {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruit {
    display: none;
    position: absolute;
}